@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/Roboto-Italic.woff2') format('woff2');
}

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
	font-family: Roboto;
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2');
}
