:root {
	--font-face: Roboto, sans-serif;
	--titlebar-size: 40px;
}

* {
	box-sizing: border-box;
}

html {
	font-family: var(--font-face);
	font-size: 13px;
	background: transparent;
	border-radius: 4px;
	border-top: none;
	color: black;
	height: calc(100vh - var(--titlebar-size));
}

body {
	margin: 0;
	height: 100%;
	background: transparent;
}

#titlebar {
	height: var(--titlebar-size);
	padding: 8px;
	text-align: right;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: black;
	display: flex;
	justify-content: space-between;
	-webkit-user-select: none;
	/*noinspection CssUnknownProperty*/
	-webkit-app-region: drag;
}

#titlebar button {
	width: 24px;
	height: 24px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: white;
	font-weight: bold;
	border: none;
	font-size: 20px;
	cursor: pointer;
	/*noinspection CssUnknownProperty*/
	-webkit-app-region: no-drag;
}

#titlebar .left-buttons button {
	margin-left: 4px;
}

#titlebar .right-buttons button {
	margin-right: 4px;
}

#titlebar .left-buttons, #titlebar .right-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

#contents, #settings {
	height: 100%;
	border: 4px solid black;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background: white;
}

#contents {
	display: grid;
	grid-template-columns: 50% 50%;
}

#settings {
	display: none;
}

#worlds {
	border-right: 2px solid black;
}

#backups {
	border-left: 2px solid black;
}

ul {
	margin: 0;
	padding: 16px 16px 0 16px;
	list-style: none;
	overflow-y: scroll;
}

ul::-webkit-scrollbar {
	width: 4px;
}

ul::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background: black;
}

.main-list li {
	border: 4px solid black;
	padding: 0 16px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 16px;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-list li.active {
	background: black;
	color: white;
}

#worlds li {
	cursor: pointer;
}

li button {
	background: white;
	border: 3px solid black;
	margin-left: 8px;
	width: 27px;
	height: 27px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}

li .buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

dialog {
	border: 4px solid black;
	font-size: 16px;
	width: 50%;
	padding: 16px;
}

dialog p {
	margin: 0;
}

dialog menu {
	display: flex;
	padding: 0;
	justify-content: space-evenly;
	margin: 16px 0 0 0;
}

dialog button, #settings button {
	border: 3px solid black;
	background: white;
	padding: 8px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

dialog button {
	width: 20%;
}

#open-settings {
	padding-bottom: 3px;
}

#titlebar #close-settings {
	display: none;
	padding-bottom: 4px;
}

#settings h1 {
	margin: 0;
	padding: 16px;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#settings form {
	padding: 16px;
	font-size: 16px;
}

#settings .form-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

select, input {
	font-size: 16px;
	padding: 8px;
	border: none;
	border-bottom: 3px solid black;
}

select {
	width: 20%;
}

input {
	width: 70%;
}
